@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


:root{
    --color-green: #50fa7b;
    --color-rocket: #7159c1
}
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;

    
}

header{
    padding: 32px;
    border-bottom: 1px solid #333333;
    background: rgba(0, 0, 0, 0.4);

}
.links {
    text-align: center;
    
}
.links  a {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover{
    color: var(--color-green);
    transition: 700ms;
}

#wrapper{
    text-align: center;
    padding: 30px;
    
}

#wrapper img{
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 20px;
    height:300px;
    
}

#wrapper h1{
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
}

#wrapper h2{
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p{
    max-width: 500px;
    margin: 20px auto;
    line-height: 34px;
    font-size: 24px;

}
#wrapper h2 a  {
   color:  var(--color-green);
}
#wrapper p a {
    color: var(--color-green);
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
    font-size: 24px;
}

/*#####CARDS######*/ 


.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
    
}

.card{
    background-color: var(--color-rocket);
}
.card_image-container img {
    width: 100%;
}

.card_content, .card_info{
    padding: 24px;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*##########MODAL ##########*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
}

